* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: tomato;
    color: white;
	position:relative;
}

.container1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 590px;
    width: 541px;
    background-color: #3e4560;
    margin-top: 358px;
    margin-bottom: 43px;
    border-radius: 5px;
    box-shadow: -18px 20px 11px 0px #191b2242;
}

.container {
    padding: 0 10px;
}

.title {
    text-align: center;
    margin: 20px;
    color: #d6d5ac;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height:100px;
    width: 100%;
    background-color: #c6d5ac;
    margin-bottom: 25px;
	border-radius: 8px;
}

.toggle-text {
    font-size: 18px;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}







