*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: tomato;
	color:white;
	font-weight:30px;
}


.container{
	padding: 0px 10px;
    height: 471px;
    width: 580px;
    background-color: rgb(62, 69, 96);
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%);
    margin: -232px -182px 30px;
	border-radius:5px;
	box-shadow:rgb(0 0 0 / 70%) 16px 9px 10px;
}

.title{
	text-align:center;
	margin:20px;
	color:#d6d5ac;
}

.hexlabel{
	display:block;
	margin-bottom:10px;
	font-size:18px;
}

#hexInput{
	padding:5px;
	display:block;
	margin-bottom:10px;
	border-radius:8px;

}

#sliderText{
	margin-bottom:2px;
	margin-right:12px;
	display:block;

}

#slider{
	margin-bottom:15px;
}

#InputColor{
	margin:10px;

}

#AlteredColor{
	margin:10px;
}

.box{
   width:100%px;
   height:62px;
	background-color: #c6d5ac;
	margin-bottom: 15px;;
	border-radius:8px;
}

.toggle{
	display:flex;
	align-items:center;
	margin-bottom:20px;

}

.toggle-text{
	font-size:18px;
}

.toggle-btn{
	height: 28px;
    width: 59px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0px 10px;
}

.inner-circle{
	height: 19px;
    width: 21px;
    background-color: white;
    border-radius: 50%;
    transition: all 250ms;
    
}


.toggle-btn.toggled > .inner-circle{
	transform: translateX(30px);
	background-color: black;
}







